#logo{
    display: flex;
    
}

body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; 
    margin: 0;
}



a{
    
    
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
header{
    display: flex;
    border-bottom: 1px solid #333;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

nav{
    
   
    display: inline-block;
}
ul li{
    display: inline-block;
    padding: 20px;

}
#place{
    display: inline-block;
    width:15%;
}
a:hover{
    color:#f8e042;
}
/* Style de la vidéo */
#video-bg {
    position: fixed; /* Reste fixe même quand on scrolle */
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -2; /* On la met tout au fond, très loin derrière */
    object-fit: cover; /* Assure que la vidéo couvre tout sans être déformée */
}

/* (Optionnel) Style du filtre sombre */
/* Cela ajoute un voile noir semi-transparent pour qu'on puisse lire ton texte blanc */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Noir à 50% d'opacité */
    z-index: -1; /* Devant la vidéo (-2), mais derrière le texte (0 ou +) */
}